<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>MenuFinderWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JSPRestaurantDashboard</display-name>
    <servlet-name>JSPRestaurantDashboard</servlet-name>
    <jsp-file>/JSPRestaurantDashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPRestaurantDashboard</servlet-name>
    <url-pattern>/JSPRestaurantDashboard</url-pattern>
    <url-pattern>/jRestaurantDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPManageMenus</display-name>
    <servlet-name>JSPManageMenus</servlet-name>
    <jsp-file>/JSPManageMenus.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPManageMenus</servlet-name>
    <url-pattern>/JSPManageMenus</url-pattern>
    <url-pattern>/jManageMenus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPAddMenu</display-name>
    <servlet-name>JSPAddMenu</servlet-name>
    <jsp-file>/JSPAddMenu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPAddMenu</servlet-name>
    <url-pattern>/JSPAddMenu</url-pattern>
    <url-pattern>/jAddMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPAddItem</display-name>
    <servlet-name>JSPAddItem</servlet-name>
    <jsp-file>/JSPAddItem.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPAddItem</servlet-name>
    <url-pattern>/JSPAddItem</url-pattern>
    <url-pattern>/jAddItem</url-pattern>
  </servlet-mapping>
</web-app>