<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>MenuFinderWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JSPManageMenus</display-name>
    <servlet-name>JSPManageMenus</servlet-name>
    <jsp-file>/JSPManageMenus.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPManageMenus</servlet-name>
    <url-pattern>/JSPManageMenus</url-pattern>
    <url-pattern>/jManageMenus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPAddMenu</display-name>
    <servlet-name>JSPAddMenu</servlet-name>
    <jsp-file>/JSPAddMenu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPAddMenu</servlet-name>
    <url-pattern>/JSPAddMenu</url-pattern>
    <url-pattern>/jAddMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPAddItem</display-name>
    <servlet-name>JSPAddItem</servlet-name>
    <jsp-file>/JSPAddItem.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPAddItem</servlet-name>
    <url-pattern>/JSPAddItem</url-pattern>
    <url-pattern>/jAddItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPManageItems</display-name>
    <servlet-name>JSPManageItems</servlet-name>
    <jsp-file>/JSPManageItems.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPManageItems</servlet-name>
    <url-pattern>/JSPManageItems</url-pattern>
    <url-pattern>/jManageItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPEditMenu</display-name>
    <servlet-name>JSPEditMenu</servlet-name>
    <jsp-file>/JSPEditMenu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPEditMenu</servlet-name>
    <url-pattern>/JSPEditMenu</url-pattern>
    <url-pattern>/jEditMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPEditItem</display-name>
    <servlet-name>JSPEditItem</servlet-name>
    <jsp-file>/JSPEditItem.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPEditItem</servlet-name>
    <url-pattern>/JSPEditItem</url-pattern>
    <url-pattern>/jEditItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPManageMenuItems</display-name>
    <servlet-name>JSPManageMenuItems</servlet-name>
    <jsp-file>/JSPManageMenuItems.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPManageMenuItems</servlet-name>
    <url-pattern>/JSPManageMenuItems</url-pattern>
    <url-pattern>/jManageMenuItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPAddRestaurant</display-name>
    <servlet-name>JSPAddRestaurant</servlet-name>
    <jsp-file>/JSPAddRestaurant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPAddRestaurant</servlet-name>
    <url-pattern>/JSPAddRestaurant</url-pattern>
    <url-pattern>/jAddRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPManageRestaurants</display-name>
    <servlet-name>JSPManageRestaurants</servlet-name>
    <jsp-file>/JSPManageRestaurants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPManageRestaurants</servlet-name>
    <url-pattern>/JSPManageRestaurants</url-pattern>
    <url-pattern>/jManageRestaurants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPEditRestaurant</display-name>
    <servlet-name>JSPEditRestaurant</servlet-name>
    <jsp-file>/JSPEditRestaurant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPEditRestaurant</servlet-name>
    <url-pattern>/JSPEditRestaurant</url-pattern>
    <url-pattern>/jEditRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPAddAccount</display-name>
    <servlet-name>JSPAddAccount</servlet-name>
    <jsp-file>/JSPAddAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPAddAccount</servlet-name>
    <url-pattern>/JSPAddAccount</url-pattern>
    <url-pattern>/jAddAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPLogin</display-name>
    <servlet-name>JSPLogin</servlet-name>
    <jsp-file>/JSPLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPLogin</servlet-name>
    <url-pattern>/JSPLogin</url-pattern>
    <url-pattern>/jLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/webservice/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>useful.InterceptorAuthorization</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <display-name>MenuFinderSOAP</display-name>
    <servlet-name>MenuFinderSOAP</servlet-name>
    <servlet-class>com.menufinder.soap.MenuFinderSOAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuFinderSOAP</servlet-name>
    <url-pattern>/MenuFinderSOAP</url-pattern>
  </servlet-mapping>
</web-app>